@font-face{
  font-family: 'blenda';
  src: url('../font/BlendaScript.otf');
}


@font-face{
  font-family: 'muli';
  src: url('../font/Muli.ttf');
}

@font-face{
  font-family: 'lato';
  src: url('../font/Lato-BlackItalic.ttf');
}


@font-face{
  font-family: 'mf';
  src: url('../font/FontAwesome.otf');
}
